name: Hello world
on: 
  push: 
    branches:
      - main
jobs:
  my-job:
     runs-on: ubuntu-latest
     steps:
       - name: Helloworld
         run: echo "Hello World"

  kiran-jobs:
    needs: my-job
    runs-on: ubuntu-latest
    steps:
      - name: How are you
        run: echo "Hey kiran How are you"
      - name: checkout
        uses: actions/checkout@v4
      - uses: actions/setup-java@v1
        with:
          java-version: 1.11
     
